body {
    color: burlywood;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkgreen;
}

#lib-header {
    color: darkmagenta;
}

.para {
    color: darkseagreen;
}

.bollu {
    color: chartreuse;
}

.footer-style{
    z-index: 2;
}

