@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap');

body {
    font-family: 'Bitter', serif;
}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 500px;
    margin: auto;
}

.container-center {
    max-width: 500px;
    margin: auto;
}
